body {
  background-color: #ff78c4;
  font-family: "Montserrat", sans-serif;
}
#movie-list {
  background-color: #ffffffc7;
}

.container-fluid {
  position: relative;
  padding: 3% 15% 7%;
}

.rotated {
  transform: rotate(25deg);
  padding: 1% 3%;
  position: absolute;
}

@media (max-width: 990px) {
  #title {
    text-align: center;
  }
  .rotated {
    transform: rotate(0);
    position: static;
  }
}

.navbar {
  padding-bottom: 4rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
#sign-up,
#login {
  text-align: center;
  color: #fff;
  font-size: 3rem;
}

.heading-msg,
.login-msg {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-style: italic;
  margin: 25px;
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-form {
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}
.input-container {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}
.input-text {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #dadce0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}
::placeholder {
  color: transparent;
}
.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #dadce0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}
.sign-up-button {
  display: block;
  padding: 15px 115px;
  border: none;
  background-color: #ff78c4;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}
.sign-up-button:hover {
  background-color: #9867c5;
  transform: translateY(-2px);
}
.input-text:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: purple;
}
.input-text:focus {
  border: 2px solid purple;
}
.input-text:not(:placeholder-shown) + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.img-movie {
  border: 1px solid #ff78c4;
  border-radius: 5px;
  width: 100%;
  height: auto;
}
.movie-column {
  padding: 20px;
}

.login-msg span.blinking {
  padding: 5px 18px;
  font-size: 20px;
  font-weight: 700;
  background-color: red;
  border-radius: 6px;
}

.blinking {
  animation: backwards;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.container-fluid {
  padding: 3% 15% 7%;
}
